<% @users.each do |user| %>
  <div class="card border border-3 border-dark rounded-3 m-4" style="width: 16rem;">
    <div class="d-flex ms-3 mt-2">
      <div>
        <%= image_tag user.avatar, class: 'card-img-top rounded-circle' %>
      </div>
      <div class='ms-2'>
        <div class='fw-bold'><%= user.name %></div>
        <div class='text-muted ms-1'><%= user.occupation %></div>
      </div>
    </div>
    <div class='d-flex mt-2'>
      <div>
        <%= build_line_chart(user) %>
      </div>
      <div class='ms-2'>
        <div class='text-end text-warning'><%= user.impressions.count %></div>
        <div class='text-muted small'>impressions</div>
        <div class='text-end text-primary'><%= user.conversions.count %></div>
        <div class='text-muted small'>conversions</div>
        <div class='text-end text-success fw-bold'>$<%= user.events.sum(:revenue) %></div>
      </div>
    </div>
  </div>
<% end %>
